//Variables
$color-black: #000000;
$color-white: #FFFFFF;
$color-primary: #8dc63f;
$color-secondary: #414042;

//Mixins
@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}
