.footer-section {
    background-color: $color-secondary;
    padding: 20px 0;
    @include respond-above(sm) {
        padding: 40px 0;
    }
    .footer-list {
        .h5 {
            color: $color-white;
        }
        li {
            list-style-type: none;
            margin-bottom: 10px;
            color: $color-white;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}