.footer-section {
    background-color: $color-black;
    padding: 20px 0;
    @include respond-above(sm) {
        padding: 40px 0;
    }
    @include respond-below(sm) {
        text-align: center;
    }
    .footer-info {
        color: $color-white;
    }
    .footer-list {
        .h5 {
            color: $color-white;
            margin-bottom: 15px;
        }
        ul {
            li {
                list-style-type: none;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                > a {
                    color: $color-white;
                    text-decoration: none;
                }
            }
        }
    }
    .copyright {
        color: $color-white;
    }
}