.all-services {
    padding: 20px;
    background-color: $color-tertiary;
    @include respond-above(sm) {
        padding: 30px 0;
    }
    .title-box {
        img {
            width: 100%;
        }
        ul {
            li {
                list-style-type: none;
            }
        }
    }  
}