.choose-us-section {
    background-color: $color-secondary;
    padding: 10px 0;
    margin-bottom: 10px;
    @include respond-above(sm) {
        padding: 20px 0;
        margin-bottom: 20px;
    }
    h5 {
        color: $color-white;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    p {
        color: $color-white;
        margin-bottom: 0;
        > strong {
            color: $color-primary;
        }
    }
}