.contact-section {
    .base-text {
        text-align: center;
    }
    .contact-info {
        padding: 20px 0;
        @include respond-above(sm) {
            padding: 40px 0;
        }
    }
}

//About Section 
.about-us-section {
    hr {
        width: 100px;
        height: 1px;
        background-color: $color-primary;
        margin-left: 0;
    }
}