.service-section {
    background-color: $color-white;
    margin-bottom: 10px;
    @include respond-above(sm) {
        margin-bottom: 20px;
    }
    h1 {
        > strong {
            color: $color-primary;
        }
    }
    hr {
        width: 100px;
        height: 1px;
        background-color: $color-primary;
        margin-left: 0;
    }
    .service-info {
         text-align: center;
         padding: 50px 25px;
         background-color:$color-tertiary;
         margin-bottom: 30px;
         @include respond-below(sm) {
             margin-bottom: 10px;
         }
         .h6 {
             color: $color-secondary;
             font-family: $header-font-family;
             text-transform: uppercase;
             letter-spacing: 5px;
             margin-bottom: 10px;
         }
         ul {
             li {
                 list-style-type: none;
             }
         }
    }
}
.yosemite-background {
    background-image: url('/img/hero-banner.jpg');
    background-size: cover;
    height: 500px;
    position: relative;
}