.what-offer-section {
    padding: 10px 0;
    background-color: $color-white;
    @include respond-above(sm) {
        padding: 30px 0;
    }
    h2 {
        color: $color-secondary;
    }
    p {
        color: $color-tertiary2;
    }
    .mission-content {
        @include respond-below(sm) {
            margin-bottom: 30px;
        }
        .h4 {
            color: $color-secondary;
            font-family: $header-font-family;
        }
    }
}