<div class="all-services">
    <div class="container">
        <h2 class="page-header">What we do</h2>
        <div class="row">
            <div class="col-md-4 no-gutters">
                <div class="title-box">
                    <div class="content-box">
                    <p class="h5">Design</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="title-box">
                    <div class="content-box">
                    <p class="h5">Development</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-md-4 no-gutters">
                <div class="title-box">
                    <div class="content-box">
                    <p class="h5">Ecommerce</p>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="title-box">
                    <div class="content-box">
                    <p class="h5">Branding</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="title-box">
                    <div class="content-box">
                    <p class="h5">Marketing</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="title-box">
                    <div class="content-box">
                    <p class="h5">Support</p>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>