<div class="all-services">
    <div class="container">
        <div class="title-box">
            <div class="row">
                <div class="col-md-6">
                    <p class="h4">Website & Mobile Application</p>
                    <p>Create your presence</p>
                    <p>We posess the ability to create a website from top to bottom. We know how to efficently write and test codes for specific functionality needs.</p>
                    <ul>
                        <li>Professional & Affordable</li>
                        <li>Fully Responsive, Mobile-Focus Design</li>
                        <li>Professionally Designed Pages</li>
                        <li>Complete Design Flexibility</li>
                        <li>Ongoing Support</li>
                    </ul>
                    <a class="button button-primary" href="/contact">Learn More</a>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <div class="title-box">
            <div class="row">
                <div class="col-md-6">
                    <img class="bigcommerce" src="/img/bigcommerce-logo.svg">
                </div>
                <div class="col-md-6">
                    <p class="h5">Ecommerce</p>
                    <p>Grow your sales</p>
                    <p>When your customers arrive on your website, they expect to find what they’re looking for and like what they see. That doesn’t happen without a plan.</p>
                    <ul>
                        <li>Fully Customed Online Store</li>
                        <li>Research & Strategy</li>
                        <li>Data Migration from another platform</li>
                        <li>Third-party integration</li>
                        <li>24/7 support</li>
                    </ul>
                    <a class="button button-primary" href="/contact">Learn More</a>
                </div>
            </div>
        </div>
        <div class="title-box">
            <div class="row">
                <div class="col-md-6">
                    <p class="h5">Digital Marketing</p>
                    <p>Create your presence</p>
                    <p>Digital marketing is the marketing of products or services using digital technologies on the Internet, through mobile phone Apps, display advertising, and any other digital mediums.</p>
                    <ul>
                        <li>Search Engine Optimization</li>
                        <li>Social Media Marketing</li>
                        <li>Email Campaigns</li>
                        <li>Content Marketing</li>
                        <li>Competitor Research</li>
                    </ul>
                    <a class="button button-primary" href="/contact">Learn More</a>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <div class="title-box">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <p class="h5">Branding</p>
                    <p>Create your presence</p>
                    <p>When your customers arrive on your website, they expect to find what they’re looking for and like what they see. That doesn’t happen without a plan.</p>
                    <ul>
                        <li>Credibility & Trust</li>
                        <li>Advertising Impressions</li>
                        <li>Company's Mission</li>
                        <li>Targeting Audience</li>
                        <li>Design Implementation</li>
                    </ul>
                    <a class="button button-primary" href="/contact">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>