<div class="all-services">
    <div class="container">
        <div class="title-box">
            <div class="row">
                <div class="col-md-6">
                    <p class="h4">Web & Mobile Application</p>
                    <p>Create your presence</p>
                    <p>We posess the ability to create a website and mobile application from scratch. We know how to efficently write and test codes for specific functionality needs.</p>
                    <ul>
                        <li>Professional & Affordable</li>
                        <li>Fully Responsive, Mobile-Focus Design</li>
                        <li>Professionally Designed Pages</li>
                        <li>Complete Design Flexibility</li>
                        <li>Landing Pages</li>
                    </ul>
                    <a class="button button-primary" href="/contact">Learn More</a>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <div class="title-box">
            <div class="row">
                <div class="col-md-6">
                    <img class="bigcommerce" src="/img/bigcommerce-logo.svg">
                </div>
                <div class="col-md-6">
                    <p class="h5">Ecommerce</p>
                    <p>Grow Your Sales</p>
                    <p>When your customers arrive on your online store, they expect to find what they’re looking for and like what they see. That doesn’t happen without a plan. We create result driven stores using powerful Ecommerce platforms.</p>
                    <ul>
                        <li>Research & Strategy</li>
                        <li>Fully Customed Themes</li>
                        <li>Migrations from other platforms</li>
                        <li>Third-party integration</li>
                        <li>Customer Service & Support</li>
                    </ul>
                    <a class="button button-primary" href="/contact">Learn More</a>
                </div>
            </div>
        </div>
        <div class="title-box">
            <div class="row">
                <div class="col-md-6">
                    <p class="h5">Digital Marketing</p>
                    <p>Target your audience</p>
                    <p>Digital marketing is the marketing of products or services using digital technologies on the Internet, through mobile phone Apps, display advertising, and any other digital mediums.</p>
                    <ul>
                        <li>Search Engine Optimization</li>
                        <li>Social Media Marketing</li>
                        <li>Email Campaigns</li>
                        <li>Content Marketing</li>
                        <li>Competitor Research</li>
                    </ul>
                    <a class="button button-primary" href="/contact">Learn More</a>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <div class="title-box">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <p class="h5">Branding</p>
                    <p>Connect with your Community</p>
                    <p>Your brand is your promise to the customers. Its differrentiates your offerings from your compeitor.</p>
                    <ul>
                        <li>Discover & Research</li>
                        <li>Competitor Analysis</li>
                        <li>Target Audience</li>
                        <li>Voice & Message</li>
                        <li>Customer Journey</li>
                    </ul>
                    <a class="button button-primary" href="/contact">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>