<div class="choose-us-section">
    <div class="container">
        <h5> Who choose us as your website design & development partner?</h5>
        <p>At Summit Point Studios, we build long-term relationships with our clients. We are a collaborative team of designers, developers, and strategists who offer creative ideas and streamlined solutions for the digital experiences we help create. </p>
    </div>
</div>