<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-list">
                    <p class="h5">Navigation</p>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-list">
                    <p class="h5">Follow Us</p>
                    <ul>
                        <li><a href="/facebook">Facebook</a></li>
                        <li><a href="/twitter">Instagram</a></li>
                        <li><a href="/facebook">Twitter</a></li>
                        <li><a href="/facebook">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-list">
                    <p class="h5">Company</p>
                    <p class="footer-info">A digital agency that is ready to take you to the top.</p> 
                </div>
            </div>
        </div>
        <div class="copyright text-center">
            <p>©2019 Summit Point Studios</p>
        </div>
    </div>
</footer>