<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-list">
                    <h6>Company</h6>
                    <ul>
                        <a href="/"><li>Home</li></a>
                        <a href="/services"><li>Services</li></a>
                        <a href="/about"><li>About</li></a>
                        <a href="/contact"><li>Contact</li></a>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-list">
                    <h6>About</h6>
                    <ul>
                        <a href="/"><li>Home</li></a>
                        <a href="/"><li>Home</li></a>
                        <a href="/"><li>Home</li></a>
                        <a href="/"><li>Home</li></a>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-list">
                    <h6>Contact</h6>
                    <h6><a href="#">(661) 755-4358</a></h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-list">
                    <h6>Follow Us</h6>
                    <ul>
                        <li>Home</li>
                        <li>Services</li>
                        <li>Home</li>
                        <li>Home</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>