<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="hero-content">
            <h1>Summit Point Studios</h1>
            <p>We design and developed unqiue websites.</p>
            <a href="#" class="button button-primary">Contact</a>
        </div>
    </div>
</div>