<div class="bg">
    <div class="container">
        <div class="hero-text">
            <p class="body-large">Summit Point Studios</p>
            <p class="h5">A digital agency taking you to the top.</p>
            <a href="/about" class="button button-primary">Get Started</a>
        </div>
    </div>
</div>