<div class="know-us-section">
    <div class="container">
        <div class="us-content">
            <p class="h6">Work with us</h1>
            <p class="h3">Let us get to know your needs.</p>
            <a href="/contact" class="button button-secondary">Contact US</a>
        </p>
    </div>
</div>