<div class="know-us-section">
    <div class="container">
        <div class="us-content">
            <p class="h6">We can help you scale your business!</h1>
            <p class="h3">Let us get to know you.</p>
            <a href="/contact" class="button button-secondary">Contact US</a>
        </p>
    </div>
</div>