<div class="process-section">
    <div class="row">
        <div class="col-lg-4">
            <div class="box-fancy" style="background-color:#917d5d">
                <h1>.01</h1>
                <p class="h3">Concept</p>
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box-fancy" style="background-color:#a08c6c">
                <h1>.02</h1>
                <p class="h3">Development</p>
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box-fancy" style="background-color:#ad9979">
                <h1>.03</h1>
                <p class="h3">Deliever</p>
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
            </div>
        </div>
    </div>
</div>