<div class="service-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="service-info">
                    <p class="h6">Idea</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-info">
                    <p class="h6">Design</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-info">
                    <p class="h6">Development</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-info">
                    <p class="h6">Innovate</p>
                </div>
            </div>
        </div>
    </div>
</div>
