<div class="service-section">
    <div class="container">
    <p class="h1">Featured <strong>Services</strong></p>
        <div class="row">
            <div class="col-md-4">
                <div class="service-info">
                    <p class="h6">Web & Application</p>
                    <ul>
                        <li>Professional & Affordable</li>
                        <li>Mobile Focused Design</li>
                        <li>Design Flexibility</li>
                        <li>Professionally Designed Pages</li>
                    </ul>
                    <a href="/services" class="button">Learn More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-info">
                    <p class="h6">Ecommerce</p>
                    <ul>
                        <li>Research & Strategy</li>
                        <li>Fully Customed Themes</li>
                        <li>Migrations from other platforms</li>
                        <li>Third-party integration</li>
                    </ul>
                    <a href="/services" class="button">Learn More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-info">
                    <p class="h6">Digital Marketing</p>
                    <ul>
                        <li>Search Engine Optimization</li>
                        <li>Social Media Marketing</li>
                        <li>Email Campaigns</li>
                        <li>Content Marketing</li>
                    </ul>
                    <a href="/services" class="button">Learn More</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/services" class="button button-primary">More Services</a>
            </div>
        </div>
    </div>
</div>
