<div class="what-offer-section">
    <div class="container">
        <h2>The Journey We Take</h1>
        <p class="sub-title">We take you on a journey through every aspects of your project and never get left behind.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="mission-content">
                    <p class="h4">Planning & Strategy</p>
                    <p>We’ll create an execution plan which maximizes all the opportunities we see for growth and we will walk with you every step of the way.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mission-content">
                    <p class="h4">Design & Development</p>
                    <p>The design and development team will create an experience that will help drive traffic and growth for your business.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mission-content">
                    <p class="h4">Marketing & Analysis</p>
                    <p>Our online marketing team continually monitors your results at every step of the process, then leverages that to get you even more wins.</p>
                </div>
            </div>
        </div>
    </div>
</div>