<div class="what-offer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="mission-content">
                    <p class="h4">Mission</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A mollitia debitis et reprehenderit cupiditate molestias?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mission-content">
                    <p class="h4">Vision</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A mollitia debitis et reprehenderit cupiditate molestias?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mission-content">
                    <p class="h4">Commitment</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A mollitia debitis et reprehenderit cupiditate molestias?</p>
                </div>
            </div>
        </div>
    </div>
</div>