<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="ie=edge">
    <meta http-equiv=refresh>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Gallery</title>
    
</head>
<body>
    <a href="/about"><h1>Hello</h1></a>
    <header>
        <nav>
            <ul>
                <li>Home</li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div>
            <img src="https://images.pexels.com/photos/1117267/pexels-photo-1117267.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt=ballon>
        </div>
        <div>
            <img src="https://images.pexels.com/photos/1117267/pexels-photo-1117267.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt=lion>
        </div>
        <div>
            <img src=https://images.pexels.com/photos/1117267/pexels-photo-1117267.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260 alt=model>
        </div>
        <div>
            <img src=https://images.pexels.com/photos/879479/pexels-photo-879479.jpeg?auto=compress&cs=tinysrgb&h=350 alt=easter-3204589_960_720>
        </div>
        <div>
            <img src=https://images.pexels.com/photos/1116302/pexels-photo-1116302.jpeg?auto=compress&cs=tinysrgb&h=350 alt=night-1927265_960_720>
        </div>
        <div>
            <img src=https://images.pexels.com/photos/956724/pexels-photo-956724.jpeg?auto=compress&cs=tinysrgb&h=350 alt=portrait-3013924_960_720>
        </div>
        <div>
            <img src=https://images.pexels.com/photos/1116302/pexels-photo-1116302.jpeg?auto=compress&cs=tinysrgb&h=350 alt=model>
        </div>
        <div>
            <img src=https://images.pexels.com/photos/1116302/pexels-photo-1116302.jpeg?auto=compress&cs=tinysrgb&h=350 alt=ballon>
        </div>
        <div>
            <img src=https://images.pexels.com/photos/1116558/pexels-photo-1116558.jpeg?auto=compress&cs=tinysrgb&h=350 alt=back-to-school-2629361_960_720>
        </div>
        <div>
            <img src=https://images.pexels.com/photos/956724/pexels-photo-956724.jpeg?auto=compress&cs=tinysrgb&h=350 alt=portrait-3013924_960_720>
        </div>
        <div>
            <img src=https://images.pexels.com/photos/956724/pexels-photo-956724.jpeg?auto=compress&cs=tinysrgb&h=350 alt=portrait-3013924_960_720>
        </div>
        <div>
            <img src=https://images.pexels.com/photos/1116558/pexels-photo-1116558.jpeg?auto=compress&cs=tinysrgb&h=350 alt=portrait-3013924_960_720>
        </div>
    </div>
</body>
</html>