.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

body, html {
  height: 100%;
}

body {
  color: #000000;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  font-family: "Impact";
}
@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 26px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 20px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 16px;
}
@media (min-width: 768px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 14px;
}
@media (min-width: 768px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-size: 12px;
}
@media (min-width: 768px) {
  h6 {
    font-size: 16px;
  }
}

.body-large {
  font-size: 32px;
}
@media (min-width: 768px) {
  .body-large {
    font-size: 70px;
  }
}

.page-header {
  background: url("/img/peak.jpg");
  background-size: cover;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}
.page-header::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.page-header .base-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-header .base-text h1 {
  color: #FFFFFF;
  margin-bottom: 0;
}
.page-header .base-text .h3 {
  color: #FFFFFF;
  text-align: center;
}
.page-header .base-text p {
  color: #FFFFFF;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  color: #000000;
  text-decoration: none;
}

.button {
  display: inline-block;
  color: #FFFFFF;
  background-color: #000000;
  padding: 10px 20px;
  margin: 0;
  border-radius: 20px;
}
.button.button-primary {
  background-image: linear-gradient(to bottom, #8dc63f, #6d9c2c);
  border-radius: 20px;
}
.button.button-secondary {
  background-image: linear-gradient(to bottom, #000000, #231f20);
}

.navbar {
  background-color: #000000 !important;
}
.navbar img {
  width: 20%;
}
.navbar i {
  color: #FFFFFF;
}
.navbar .nav-item {
  font-family: "Impact";
  text-align: right;
}
.navbar a {
  color: #FFFFFF;
  text-decoration: none;
}
.navbar a:hover {
  color: #8dc63f;
}
.navbar .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 0.25rem;
}

.footer-section {
  background-color: #000000;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .footer-section {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .footer-section {
    text-align: center;
  }
}
.footer-section .footer-info {
  color: #FFFFFF;
}
.footer-section .footer-list .h5 {
  color: #FFFFFF;
  margin-bottom: 15px;
}
.footer-section .footer-list ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
.footer-section .footer-list ul li:last-child {
  margin-bottom: 0;
}
.footer-section .footer-list ul li > a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer-section .copyright {
  color: #FFFFFF;
}

.service-section {
  background-color: #FFFFFF;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .service-section {
    margin-bottom: 20px;
  }
}
.service-section h1 > strong {
  color: #8dc63f;
}
.service-section hr {
  width: 100px;
  height: 1px;
  background-color: #8dc63f;
  margin-left: 0;
}
.service-section .service-info {
  text-align: center;
  padding: 50px 25px;
  background-color: #F4F4F4;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .service-section .service-info {
    margin-bottom: 10px;
  }
}
.service-section .service-info .h6 {
  color: #231f20;
  font-family: "Impact";
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.service-section .service-info ul li {
  list-style-type: none;
}

.yosemite-background {
  background-image: url("/img/hero-banner.jpg");
  background-size: cover;
  height: 500px;
  position: relative;
}

.bg {
  /* The image used */
  background-image: url("../img/peak.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.bg::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
.bg .hero-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.bg .hero-text .body-large {
  color: #FFFFFF;
  margin-bottom: 0;
  font-family: "Bebas Neue";
}
.bg .hero-text .h5 {
  color: #FFFFFF;
  margin-bottom: 30px;
}

.jumbotron {
  background-color: #231f20 !important;
  margin-bottom: 0 !important;
}
.jumbotron h1 {
  color: #FFFFFF;
}

.choose-us-section {
  background-color: #231f20;
  padding: 10px 0;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .choose-us-section {
    padding: 20px 0;
    margin-bottom: 20px;
  }
}
.choose-us-section h5 {
  color: #FFFFFF;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.choose-us-section p {
  color: #FFFFFF;
  margin-bottom: 0;
}
.choose-us-section p > strong {
  color: #8dc63f;
}

.about-us-section {
  padding: 10px 0;
}
@media (min-width: 768px) {
  .about-us-section {
    padding: 30px 0;
  }
}

.all-services {
  padding: 20px;
  background-color: #F4F4F4;
}
@media (min-width: 768px) {
  .all-services {
    padding: 30px 0;
  }
}
.all-services .title-box img {
  width: 100%;
}
.all-services .title-box ul li {
  list-style-type: none;
}

.mission-section {
  padding: 20px 0;
  background-color: #231f20;
}
@media (min-width: 768px) {
  .mission-section {
    padding: 40px 0;
  }
}
.mission-section h1 {
  color: #FFFFFF;
}
.mission-section p {
  color: #9ea3ab;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .mission-section .mission-content {
    margin-bottom: 30px;
  }
}
.mission-section .mission-content .h4 {
  color: #FFFFFF;
}

.what-offer-section {
  padding: 20px 0;
  background-color: #F4F4F4;
}
@media (min-width: 768px) {
  .what-offer-section {
    padding: 50px 0;
  }
}
.what-offer-section h2 {
  color: #231f20;
}
.what-offer-section p {
  color: #9ea3ab;
}
@media (max-width: 767px) {
  .what-offer-section .mission-content {
    margin-bottom: 30px;
  }
}
.what-offer-section .mission-content i {
  font-size: 40px;
  color: #8dc63f;
  margin-bottom: 10px;
}
.what-offer-section .mission-content .h4 {
  color: #231f20;
  font-family: "Impact";
}

.know-us-section {
  padding: 20px 0;
  background-color: #8dc63f;
  text-align: center;
}
@media (min-width: 768px) {
  .know-us-section {
    padding: 40px 0;
  }
}
.know-us-section .h6 {
  color: #FFFFFF;
}
.know-us-section .h3 {
  color: #FFFFFF;
}

.the-company-section {
  padding: 20px 0;
}
@media (min-width: 768px) {
  .the-company-section {
    padding: 40px 0;
  }
}
.the-company-section img {
  width: 100%;
  height: auto;
}

.process-section {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .process-section {
    padding-bottom: 40px;
  }
}
.process-section .col-lg-4 {
  padding: 0;
}
.process-section .box-fancy {
  padding: 5% !important;
}
.process-section .box-fancy h1 {
  color: #FFFFFF;
}
.process-section .box-fancy .h3 {
  color: #FFFFFF;
}
.process-section .box-fancy span {
  color: #FFFFFF;
}

.our-team-section {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .our-team-section {
    padding-bottom: 40px;
  }
}
.our-team-section h2 {
  text-align: center;
}
.our-team-section .team-member {
  max-width: 200px;
  height: auto;
  background-color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.07);
}
.our-team-section .team-member .team-desc {
  padding: 20px;
}
.our-team-section .team-member .team-desc .member-name {
  margin-bottom: 0;
}
.our-team-section .team-member .team-desc .member-title {
  margin-bottom: 0;
}
.our-team-section img {
  width: 100%;
}

.contact-section .base-text {
  text-align: center;
}
.contact-section .contact-info {
  padding: 20px 0;
}
@media (min-width: 768px) {
  .contact-section .contact-info {
    padding: 40px 0;
  }
}

.about-us-section hr {
  width: 100px;
  height: 1px;
  background-color: #8dc63f;
  margin-left: 0;
}

/*# sourceMappingURL=style.css.map */
