<div class="service-page-section">
    <div class="page-header">
        <div class="base-text">
            <div class="container">
                <h1>Services</h1>
            </div>
        </div>
    </div>
    {{> all-services}}
    {{> know-us}}
</div>
